/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 100%;
  
}
#cssmenu a {
  line-height: 1.3;
}
/*#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(menu_images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; 
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}*/

#cssmenu > ul > li {
  background: #d9d9d9;
  /*border-bottom:2px dotted #ddd;*/
  border-bottom: 1px solid #aaa;
  
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  color: #000 !important;
  border-top: none;
  padding:0 0 0 10px;
  margin:0 0 0 0px;
  text-transform:capitalize;
  height:40px;
  line-height:40px;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color: #848484 !important;
  background: #fff;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/down-arrow.png) 100% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/down-up.png) 100% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  background: #fff;
 /* border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;*/
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 2px solid #fff;
  border-top: none;
  background: #f9f9f9;
 
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #777;
  
  font-weight: normal;
}
#cssmenu ul ul a:before {
 /* content: '\00BB';*/
  position: relative;
 padding-left:10px;
 /* color: #e94f31;*/
}
#cssmenu ul ul a:hover {
  color: #777;
}

@media(min-width:320px) and (max-width:767px) 
{

#cssmenu{width:100%;}

}
